html {
	overflow-x: hidden;
}

:root {
	--headerColor: #282c34;
	--headertxtColor: #3495eb;
}

#App {
	position: absolute;
	top: 0px;left: 0px;
	min-height: 100vh;
	width: 100vw;
	text-align: center;
	background-color: var(--headerColor);
	overflow-x: hidden;
}
.topOrBot {background-color: var(--headerColor);}

.headerBar {
	position: relative;
	top: 0px;left: 0px;
	width: 100vw;
	padding: 0vmin 0vmin;
	color: white;
	font-size: calc(10px + 1vmin);
	min-height: 10vmin;
	max-height: 20vmin;
}

.headerContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.navBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navBarLow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 2vmin;
}

.navActive {
	text-decoration: underline;
	text-underline-position: under;
}

.navActive, .navItem:hover {color:var(--headertxtColor);}

.navItem {
	cursor: pointer;
	padding: 2vmin 4vmin;
	margin: 1vh 0px 1vh 0px;
	transition: color 0.5s linear; /* vendorless fallback */
    -o-transition: color 0.5s linear; /* opera */
    -ms-transition: color 0.5s linear; /* IE 10 */
    -moz-transition: color 0.5s linear; /* Firefox */
    -webkit-transition: color 0.5s linear; /*safari and chrome */
}

.App-logo {
	position: absolute;
	top:0px;
	left: 0vmin;
	height: 10vmin;
	pointer-events: none;
}

.BodyContainer {
	position: relative;
	top:0px;
	left:0px;
	width:100%;
	min-height: 79vmin;
	max-height: 1000vmax;
	background-color: white;
}
.BodyContent {
	background-color: white;
	width:100%;
	min-height: 79vmin;
	padding: 1vmin;
}

.BodyContent > div{
	margin-top:5vmin;
}
#cclogo {
	height:8vmin;
}

.BodyContent > div:not(div:last-child)::after{
	position: relative;
	left:2vmin;
	display: inline-block;
    content: "";
    border-top: 2px solid #bfbfbf;
    width: 30vw;
    margin: 0 1rem;
}

.splitVert {
	position:relative;
	left:25vw;
	width:50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	border-bottom: none;
}

.splitHoriz{
	width:50vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top:1vmin;
	padding-bottom:1vmin;
	border-bottom: 1px solid black;
}

.splitHoriz > span {
	width:50%;
}

.splitHoriz > span:first-child{
	padding-right: 1vw;
	text-align:right;
}

.splitHoriz > span:last-child{
	padding-left: 1vw;
	text-align:left;
	border-left: 1px solid black;
}

li {list-style-type: none;}

.spacer {margin-top: 2vmin;}

.FooterContainer {
	position:relative;
	top:0px;
	left:0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 10vmin;
	width: 100vw;
}

.Footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 10vmin;
	padding: 3vh 0vw;
	color: #a1a1a1;
}

.FooterContent {
	font-size: calc(10px + 0.5vmin);
	padding: 0vmin;
	margin-top: 1vh;
}

.Footerlink {background-color: transparent;text-decoration: none;}
.Footerlink:link {color: var(--headertxtColor);}
.Footerlink:visited {color: #80b0ff;}
.Footerlink:hover {color: red;background-color: transparent;text-decoration: underline;}
.Footerlink:active {color: yellow;background-color: transparent;text-decoration: underline;}


h1,h2 {color:var(--headertxtColor);}/*Set header colors*/

h1,h2:not(h2.tableTop) {position: relative;left:1vmin;}/* Shifts headers over because they were off center*/